<!DOCTYPE html>
<html>
<head>
  <title>TODO</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-app="todo">
  <div  ng-controller="TodoCtrl">

    <input type="text" ng-model="text">
    <input type="date" ng-model="dueDate">
    <button ng-click="popAlert()">Create To-Do</button>
    <button ng-click="clearCompleted()">Clear Completed</button>
    <button ng-click="toggleHide()" ng-model="hideCompleted">{{filterButtonText()}}</button>

    <select ng-model="order">
      <option value="">None</option>
      <option value="completed-true">Completed on Top</option>
      <option value="completed-false">Completed on Bottom</option>
      <option value="dueDate-false">Due Date Descending</option>
      <option value="dueDate-true">Due Date Ascending</option>
    </select>


    <table>
      <tbody>    
        <tr todo-item-directive item="item" delete-item="deleteItem($index)" ng-repeat="item in items | filterCompleted: hideCompleted | orderBy: order.split('-')[0] : order.split('-')[1] === 'true'" >
        </tr>
      </tbody>
    </table>
  </div>
<!-- app -->
<script type="text/javascript" src="app.js"></script>

<!-- controllers -->
<script type="text/javascript" src="controllers/todocontroller.js"></script>

<!-- filters -->
<script type="text/javascript" src="filters/todo_filter.js"></script>

<!-- directives   -->
<script type="text/javascript" src="directives/todo_item_directive.js"></script>

<!-- services -->
<script type="text/javascript" src="services/todo_service.js"></script>


</body>
</html>