<!DOCTYPE html>
<html>
<head>
  <title>TODO</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-app="todo">
  <div  ng-controller="TodoCtrl">

    <input type="text" ng-model="text">
    <input type="date" ng-model="dueDate">
    <button ng-click="popAlert()">Create To-Do</button>
    <button ng-click="clearCompleted()">Clear Completed</button>
    <button ng-click="toggleHide()" ng-model="hideCompleted">{{filterButtonText()}}</button>

    <table>
      <tbody>    
        <tr todo-item-directive item="item" delete-item="deleteItem($index)" ng-repeat="item in items | filterCompleted: hideCompleted" >
        </tr>
      </tbody>
    </table>
  </div>
<!-- app -->
<script type="text/javascript" src="app.js"></script>

<!-- controllers -->
<script type="text/javascript" src="controllers/todocontroller.js"></script>

<!-- filters -->
<script type="text/javascript" src="filters/todo_filter.js"></script>

<!-- directives   -->
<script type="text/javascript" src="directives/todo_item_directive.js"></script>


</body>
</html>